*.log
._*

# Android/IntelliJ
#
build/
release/
.idea
.gradle
reports/
.settings/
local.properties
*.iml
*.hprof
*.apk
.project
.classpath

local.properties

*.keystore
*.keystore.properties
!debug.keystore
!debug.keystore.properties

app/bugly/
